<div id=''class=''style='' ng-controller='PackagesCtrl' ng-init=''>
	<!-- DESKTOP VIEW -->
	<div id='packageDesktop'class='col-md-12 col-lg-12 hidden-sm hidden-xs'style=''>
		<div id=''class='col-md-12'style='padding:2%'>

		</div>
		<div id=''class='col-md-8 col-md-offset-2 packagedeskMenu textBack'style='height:79vh;'>
			<div id=''class='col-md-6'style='border:1px none;height:100%;'>
				<div id=''class='col-md-12'style='border:1px none;height:100%;'>
						<div id=''class='col-md-12'style='padding:3%'>

						</div>


						<div id=''class='col-md-10 kaush'style='border-bottom:1px none'>
						<h1>{{pack.title}}</h1>

						</div>

						<div id=''class='col-md-11 kaush'>
							<div id=''class='col-md-5'>
							<h3>Price:</h3>
							</div>
							<div id=''class='col-md-5 roboto'>
							<h3>{{pack.price|currency}}</h3>
							</div>
							<div id=''class='col-md-5'>
							<h3>Where in NYC:</h3>
							</div>
							<div id=''class='col-md-5 roboto'>
							<h3>{{pack.Location}}</h3>
							</div>
						</div>
						<div id=''class='col-md-12'style='padding:10%;'>


						</div>

						<div id=''class='col-md-12 roboto'style='overflow:auto;border:1px none;height:60%;font-size:20px;'>
						{{pack.description}}



						</div>


				</div>


			</div>
			<div id=''class='col-md-5 col-md-offset-1'style='border-left:1px solid black;'>
				<div id=''class='col-md-12'style='height:60vh;background:url({{pack.mainImage}});background-size:100% 100%;background-repeat:no-repeat;'>
				

				</div>
				<div id=''class='col-md-12'style='border:1px none;padding:10px;'>
					<div id=''class='col-md-4'style='padding:12%;border:1px none;background:url({{pack.smallImage1}});background-size:100% 100%;background-repeat:no-repeat;'>

					

					</div>
					<div id=''class='col-md-4'style='padding:12%;border:1px none;background:url({{pack.smallImage2}});background-size:100% 100%;background-repeat:no-repeat;'>

					

					</div>
					<div id=''class='col-md-4'style='padding:12%;border:1px none;background:url({{pack.smallImage3}});background-size:100% 100%;background-repeat:no-repeat;'>

					

					</div>
				</div>

			</div>


		</div>

	</div>

	<!-- MOBILE VIEW -->
	<div id=''class='col-xs-12 col-sm-12 hidden-md hidden-lg'style=''>


	</div>



</div>
