<div id=''class=''style=''>
  <!-- DESKTOP VIEW  -->

  <div id='mainDesk'class='hidden-sm hidden-xs' style='height:100vh;padding:1%;'>
      <div id=''class='col-md-12'style='padding:2%;'>

      </div>

    <div id=''class='col-md-7'style=' border:1px solid black;height:50vh'>
     <div id=''class='col-md-8 col-md-offset-2'>
      <h2> Welcome to New York</h2>
      </div>
      <div id=''class='col-md-6 col-md-offset-3'>
      <h3>Enjoy your stay</h3>
      </div>

    </div>
    <div id=''class='col-md-4 col-md-offset-1' style='border:1px none;background-color:rgba(74,83,87,0.7);height:80vh;padding:1%; overflow:auto;'>
    
     <div id='featuredDeal'class='col-md-12'style='padding:1%;'>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel fermentum risus.  Proin luctus vehicula nulla non pharetra. Maecenas tristique dictum blandit. Duis facilisis risus a metus tincidunt, sed lacinia dolor convallis. Suspendisse vel diam nisl. Vestibulum rhoncus, sem et condimentum aliquet, mauris neque feugiat arcu, a interdum nisl nisi lacinia metus. Pellentesque quis lorem in arcu consequat convallis ac a libero.

        <p>Nunc ut justo a ligula viverra maximus quis id quam. Suspendisse quis dui odio. Morbi consectetur lacus mi, eu sagittis ex auctor vitae. Maecenas vulputate, velit et elementum semper, lorem libero mattis velit, dignissim venenatis tortor nisi a enim. Donec rutrum pharetra nunc nec scelerisque. In sodales tincidunt pellentesque. Mauris interdum at enim nec laoreet. Vestibulum eu blandit nisl. Praesent lacus est, efficitur at mollis id, fringilla in lorem. Suspendisse ut dapibus enim. Vivamus quis consequat arcu. Donec malesuada porta orci, ut varius massa tincidunt maximus.

        <p>Proin sit amet lectus id est suscipit pretium. Maecenas lobortis mauris bibendum neque blandit dictum. Aenean eu volutpat libero. Ut sollicitudin est eget massa tempus tincidunt. Vivamus hendrerit ante quis arcu rhoncus mattis. Nunc tincidunt felis dui, et molestie magna gravida nec. Mauris leo diam, pulvinar et ex quis, ultricies egestas erat. Praesent vitae quam tempor mi mattis varius nec sed lectus. Sed scelerisque imperdiet condimentum. Etiam suscipit finibus risus eget lacinia.

        <p>Suspendisse vel elit sit amet tellus lobortis ullamcorper a eu sapien. Nunc sem quam, ultricies eu turpis et, viverra maximus quam. Nunc iaculis ac felis eget aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas mauris nunc, semper nec euismod sed, consectetur sit amet risus. Praesent ut dolor ipsum. Mauris et est lectus. Vestibulum pellentesque lectus dignissim est molestie pellentesque.

        <p>Nullam eu metus ligula. Ut aliquet tempor lorem, in ultrices nisl lobortis sit amet. Quisque lacinia in dui quis ultrices. Ut suscipit lectus at dui feugiat, at egestas eros dignissim. Nunc vehicula ex ut ante finibus, sit amet molestie elit efficitur.
      </div>
    </div>

  </div>

  <!--Mobile View  -->
  <div id=''class='hidden-md hidden-lg'>


  </div>

</div>