<div id=''class='col-md-4'style='height:38vh;padding:0.5%;'>

			<div id=''class='packagedeskMenu col-md-10'style=''>
				<div id=''class='col-md-10 col-md-offset-1'style='border:1px solid black;height:40%;'>
				{{item.image}}
				</div>
				<div id=''class='col-md-12'>
				<div id=''class='col-md-12'>
				{{item.name}}
				</div>
				<div id=''class='col-md-12'>
				{{item.price}}
				</div>
				<div id=''class='col-md-12'>
				{{item.snippet}}
				</div>
				<div id=''class='col-md-12'>
				{{item.Location}}
				</div>

				</div>
			</div>


		</div>



	